body {
    background-color: rgb(209, 229, 231);
 }
 hr {
    border-style: dotted none none none;
    height: 0px;
    border-color: grey;
    border-width: 5px;
    width: 5%;
 }
 img {
    height: 400px;
    width: 400px;
 }
 h1 {
    color: #66BFBF;
 }
 h3 {
    color: #66BFBF;
 }